@charset "UTF-8";


h1,h2,h3,h4,h5 {
	font-weight: normal;
	margin: 0;
}
ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}
li {
	padding: 3px;
}
a,a:hover {
	color: #000;
}

body {
	font-family: "Sawarabi Gothic";
	margin: 0;
}

/* ヘッダー */
#header_container {
	height: 300px;
	background: url(../images/header.jpg) 0 0 no-repeat;
	background-size: cover;
}
#header_container h1 {
	color: #fff;
	text-align: right;
	padding: 150px 50px 0 0;
	font-size: 3rem;
}
#header_container p {
	color: #fff;
	text-align: right;
	padding: 0 50px 0 0;
	font-size: 1.5rem;
}

/* パンくずリスト */
.breadcrumb {
	display: flex
}
.breadcrumb li {
	flex-flow: column;
}


/* メイン */
#main_container {
	display: flex;
}

/* サブメニュー */
#sub_menu {
	flex: 0 0 300px;
	width: 15%;
	margin: 2%;
	height: 100%;

}
#scenario_search,#favorite_tag {
	margin: 2.5%;
}
#scenario_search h3,#favorite_tag h3 {
	font-size: 1.5rem;
}
#scenario_search > ul {
	border: 2px solid;
	padding: 10px;
}
.search_name {
	text-align: center;
}
.search_name input {
	margin: 5px;
	width: 80%;
}
.none {
	display: none;
}
.tag_flex {
	display: flex;
	flex-wrap: wrap;
}
.tag_name {
	flex: 1 0 auto;
	background: #b2ffd8;
	border-radius: 3px;
	padding: 3px;
	margin: 3px;
}
#scenario_post {
	font-size: 1.2rem;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid;
	border-radius: 50px;
}
#scenario_post a {
	text-decoration: none;
}

/* メインメニュー */
#main_menu {
	flex: auto;
	width: 50%;
	margin: 2.5%;
}

#scenario_contents {
	margin: 10px;
}
#scenario_contents h3 {
	font-size: 1.5rem;
}
/* メインメニュー */
#main_menu {
	flex: auto;
	width: 50%;
	margin: 2.5%;
}
#main_menu a {
	text-decoration: none;
}
#main_menu td {
	text-align: center;
}
#scenario_list,#news {
	margin: 10px;
}
#scenario_list h3,#news h3 {
	font-size: 1.5rem;
}
#scenario_list table,#news table {
	border: 2px solid;
	margin: 2.5%;
}
#favorite_scenario,#new_scenario,#news {
	margin: 10px;
}
#favorite_scenario h3,#new_scenario h3,#news h3 {
	font-size: 1.5rem;
}
#favorite_scenario table,#new_scenario table,#news table {
	border: 2px solid;
	margin: 2.5%;
}
.more{
	font-size: 1.3rem;
	text-align: center;
	width: 50%;
	padding: 10px;
	margin: 0 auto;
	border: 2px solid;
	border-radius: 50px;
}


/* メイン */
#main_container {
	display: flex;
}

/* フッター */
#footer_container {
	background: #b2ffd8;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
}
.footer_contents {
	border-left: 2px solid #000;
	width: 25%;
	padding: 50px;
}
.footer_contents input {
	width: 200px;
	text-align: left;
}
.footer_contents:first-child {
	border: 0;
}

/* ページネーション */
.pagination {
	display: flex;
	margin: 0 auto;
}
.pagination>li {
	list-style: none;
	text-decoration: none;
	text-align: center;
	width: 20px;
	padding: 5px;
	border: 1px solid #000;
	border-left: none;
}
.pagination>li:first-child {
	border-left: 1px solid #000;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.pagination>li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.pagination>li>a {
	color: #000;
	text-decoration: none;
}
.pagination>.active{
	background-color: #b2ffd8;
}
